:root {
	--grey: #343436;
}

html {
	font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
		Sans-Serif;
	font-weight: normal;
	color: #272727;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

body {
	margin: 0;
}


.wrapper {
	display: grid;
	grid-template-rows: auto 1fr 1fr auto;
	height: 100vh;
}

.header {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-flow: column;
	background: black;
	color: white;
	font-size: 14px;
	padding:  0 10px;
	align-items: center;
	line-height: 14px;
}

.header_left {
	align-items: center;
}

h1 {
	font-size: 26px;
	font-weight: bold;
}

#h_text {
	text-transform: uppercase;
	font-size: 10px;
	color: #999;
}

img {
	width: 44px;
	height: 44px;
	margin: 0 8px;
}

.buttons_header {
	background: var(--grey);
	border: 3px solid var(--grey);
	border-radius: 3px;
	padding: 11px;
	margin: 3px;
	color: white;
}

.buttons_header:hover {
	background: #4d4d50;
}

.btn_h_left {
	background: black;
	padding: 11px;
}

.code {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background: var(--grey);
	padding: 3px 3px 10px 3px;
}

h3 {
	padding: 5px;
	margin: 0;
}

.editor {
	background: #1d1f20;
	display: grid;
	grid-template-rows: auto 1fr;
	margin: 5px;
}

.editor_header {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	grid-gap: 5px;
	color: white;
	background: rgba(0,0,0,0.3);
	padding: 0 10px;
}

.editor_code {
	display: grid;
	grid-template-columns: auto 1fr;
	padding: 10px;
}

.editor_number {
	color: white;
	font-size: 10px;
	line-height: 6px;
	padding: 0 3px;
}

.editor_input {
	background: none;
	color: #999;
	border: none;
}

textarea {
	line-height: 7px;
	padding-top: 8px;
	resize: none;
}

.btn_small, .btn_small_footer {
	background: rgba(255,255,255,0.2);
	color: white;
	border: 0;
	border-radius: 3px;
}

iframe {
	width: 100%;
	height: 100%;
}

footer {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-flow: column;
	background: black;
	padding: 10px;


}

#saved {
	display: inline;
	color: #999;
	font-size: 14px;
}

.btn_small_footer {
	margin: 0 3px;
}




